
label[data-type]:before {
	display: inline-block;
	width: 1em;
	line-height: inherit;
	margin: 0px;
	padding: 0px 0.25em;
	font-family: "icon";
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	font-smooth: antialiased;
	speak: never;
}

/* input types */
label[data-type="date"]:before           { content: '\e81b'; }
label[data-type="datetime-local"]:before { content: '\e81b'; }
label[data-type="email"]:before          { content: '\f0e0'; }
label[data-type="file"]:before           { content: '\f15b'; }
label[data-type="month"]:before          { content: '\e81b'; }
label[data-type="number"]:before         { content: '\f162'; }
label[data-type="password"]:before       { content: '\f132'; }
label[data-type="search"]:before         { content: '\e800'; }
label[data-type="tel"]:before            { content: '\e81c'; }
label[data-type="text"]:before           { content: '\e809'; }
label[data-type="time"]:before           { content: '\e81d'; }
label[data-type="url"]:before            { content: '\e81e'; }
label[data-type="week"]:before           { content: '\e81b'; }

