
main article fieldset {
	margin: 32px 0px 32px 0px;
	padding: 16px;
	border: 1px solid var(--article-border);
	border-radius: 8px;
}

main article fieldset legend {
	margin: 0px;
	padding: 4px 8px;
	font-family: 'cantarell';
	font-weight: bold;
	font-style: normal;
	font-size: 20px;
	text-align: left;
	border: 1px solid var(--article-border);
	border-radius: 8px;
	box-sizing: border-box;
	user-select: none;
}

main article fieldset div {
	display: block;
	margin: 0px 0px 16px 0px;
	padding: 0px;
	vertical-align: middle;
}

main article fieldset div:last-of-type {
	margin-bottom: 0px;
}

main article fieldset div label {
	display: inline-block;
	width: 200px;
	font-family: 'vera-mono';
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	line-height: 28px;
}

main article fieldset div label + input {
	width: 260px;
}

main article fieldset div label + textarea {
	width: 260px;
	min-height: 4em;
}

main article fieldset div label + div {
	display: inline-block;
}

