
main article fieldset {
	margin: 32px 0px 32px 0px;
	padding: 16px;
	border: 1px solid #2b2e39;
	border-radius: 8px;
}

main article fieldset legend {
	margin: 0px;
	padding: 4px 8px;
	font-family: 'cantarell';
	font-weight: bold;
	font-style: normal;
	font-size: 20px;
	text-align: center;
	border: 1px solid #2b2e39;
	border-radius: 8px;
	box-sizing: border-box;
}

main article fieldset legend[data-type]:before {
	display: inline-block;
	width: 1em;
	line-height: inherit;
	margin: 0px 8px 0px 0px;
	padding: 0px;
	font-family: "icon";
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	font-smooth: antialiased;
	speak: never;
}

main article fieldset div {
	display: block;
	margin: 0px 0px 16px 0px;
	padding: 0px;
	vertical-align: middle;
}

main article fieldset div:last-of-type {
	margin-bottom: 0px;
}

main article fieldset div label {
	display: inline-block;
	width: 200px;
	font-family: 'vera-mono';
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	line-height: 28px;
}

main article fieldset div label + input {
	width: 260px;
}

main article fieldset div label + div {
	display: inline-block;
}

main article fieldset div label[data-type]:before {
	margin: 0px 0.5em 0px 0px;
	padding: 0px;
}

/* settings */
legend[data-type="identities"]:before { content: '\e802'; }
legend[data-type="identity"]:before   { content: '\e801'; }
legend[data-type="remotes"]:before    { content: '\f1e0'; }
legend[data-type="settings"]:before   { content: '\e80d'; }

