
body {

	--progress-disabled-color: #304050;
	--progress-disabled-background: #304050;

	--progress-active-color: #55aaee;
	--progress-active-background: #304050;

	--progress-invalid-color: #e25252;
	--progress-invalid-background: #304050;

}
