
table[data-type="repositories"] button[data-action="clone"]:before  { content: '\e819'; }
table[data-type="repositories"] button[data-action="fix"]:before    { content: '\e80e'; }
table[data-type="repositories"] button[data-action="commit"]:before { content: '\e809'; }
table[data-type="repositories"] button[data-action="pull"]:before   { content: '\f0ed'; }
table[data-type="repositories"] button[data-action="push"]:before   { content: '\f0ee'; }

table[data-type="repositories"] button[data-action="commit"],
table[data-type="repositories"] button[data-action="fix"] {
	color: var(--palette-secondary-color);
	background: var(--palette-secondary-background);
}

table[data-type="repositories"] button[data-action="pull"],
table[data-type="repositories"] button[data-action="push"] {
	color: var(--palette-primary-color);
	background: var(--palette-primary-background);
}

table[data-type="repositories"] tr th:nth-of-type(1),
table[data-type="repositories"] tr td:nth-of-type(1) {
	width: 32px;
	text-align: center;
}

table[data-type="repositories"] tr th:nth-of-type(2) {
	width: auto;
	text-align: left;
}

table[data-type="repositories"] tr td:nth-of-type(2) {
	width: auto;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

table[data-type="repositories"] tr th:nth-of-type(3),
table[data-type="repositories"] tr td:nth-of-type(3) {
	width: auto;
	text-align: center;
}

table[data-type="repositories"] tr th:nth-of-type(4),
table[data-type="repositories"] tr td:nth-of-type(4) {
	width: auto;
	text-align: center;
}

table[data-type="repositories"] tr th:nth-of-type(5),
table[data-type="repositories"] tr td:nth-of-type(5) {
	width: 180px;
	text-align: center;
}

