
table[data-type="scheduler"] {
	margin: 0px;
	padding: 0px;
	min-width: 640px;
	box-sizing: border-box;
	border-spacing: 0px;
}

table[data-type="scheduler"] tr th {
	padding: 8px 8px;
}

table[data-type="scheduler"] tr td {
	padding: 0px 8px;
}

table[data-type="scheduler"] tr th:nth-of-type(1),
table[data-type="scheduler"] tr td:nth-of-type(1) {
	width: auto;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: middle;
}

table[data-type="scheduler"] tr th:nth-of-type(2),
table[data-type="scheduler"] tr td:nth-of-type(2) {
	width: 96px;
	text-align: center;
	vertical-align: middle;
}

table[data-type="scheduler"] tr th:nth-of-type(3),
table[data-type="scheduler"] tr td:nth-of-type(3) {
	width: 128px;
	text-align: center;
	vertical-align: middle;
}

/* Well, fuck Firefox in particular */
@supports(-webkit-appearance: none) {

	table[data-type="scheduler"] progress {
		position: relative;
		width: 128px;
		height: 16px;
		border: none;
		background-color: transparent;
		border-radius: 4px;
		overflow: hidden;
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
	}

	table[data-type="scheduler"] progress::before {
		content: "";
		position: absolute;
		top: 0px;
		left: -160px;
		width: 320px;
		height: 100%;
		background-color: transparent;
		background-image: repeating-linear-gradient(
			90deg,
			var(--progress-active-color),
			var(--progress-active-color) 32px,
			var(--progress-active-background) 32px,
			var(--progress-active-background) 160px
		);
		border-radius: 4px;
		animation: move-stripes 3s linear infinite;
	}

	table[data-type="scheduler"] progress[disabled]::before {
		display: none;
	}

	table[data-type="scheduler"] progress[disabled]::-webkit-progress-bar {
		background-color: var(--progress-disabled-background);
	}

	table[data-type="scheduler"] progress[value]::before {
		display: none;
	}

	table[data-type="scheduler"] progress[value][data-finished="true"]::-webkit-progress-bar {
		background: var(--progress-active-background);
		border-radius: 4px;
	}

	table[data-type="scheduler"] progress[value][data-finished="true"]::-webkit-progress-value {
		background: var(--progress-active-color);
		border-radius: 4px;
	}

	table[data-type="scheduler"] progress[value][data-finished="false"]::-webkit-progress-bar {
		background: var(--progress-invalid-background);
		border-radius: 4px;
	}

	table[data-type="scheduler"] progress[value][data-finished="false"]::-webkit-progress-value {
		background: var(--progress-invalid-color);
		border-radius: 4px;
	}

	@keyframes move-stripes {
		from { left: -160px; }
		to   { left: 0px; }
	}

}
