
main[data-view="settings"] article {
	width: 66%;
	max-width: 500px;
}

main[data-view="settings"] section {
	display: block;
	position: relative;
	width: calc(66% + 32px);
	margin: 32px auto;
	padding: 0px;
	max-width: 525px;
	border-top: 1px solid var(--section-background);
	border-right: 1px solid var(--section-background);
	border-bottom: 1px solid var(--section-background);
	border-left: 8px solid var(--section-background);
	border-radius: 8px;
}

main[data-view="settings"] section:nth-of-type(1)  { --section-background: var(--header-background); }
main[data-view="settings"] section:nth-of-type(2)  { --section-background: #a732d9; }
main[data-view="settings"] section:nth-of-type(3)  { --section-background: #d9a432; }
main[data-view="settings"] section:nth-of-type(4)  { --section-background: #3248d9; }
main[data-view="settings"] section:nth-of-type(5)  { --section-background: #d9326c; }
main[data-view="settings"] section:nth-of-type(6)  { --section-background: #32d973; }
main[data-view="settings"] section:nth-of-type(7)  { --section-background: #e2a052; }
main[data-view="settings"] section:nth-of-type(8)  { --section-background: #5294e2; }
main[data-view="settings"] section:nth-of-type(9)  { --section-background: #e252dc; }
main[data-view="settings"] section:nth-of-type(10) { --section-background: #52e258; }
main[data-view="settings"] section:nth-of-type(11) { --section-background: #e36f52; }
main[data-view="settings"] section:nth-of-type(12) { --section-background: #8852e3; }
main[data-view="settings"] section:nth-of-type(13) { --section-background: #6d52e3; }
main[data-view="settings"] section:nth-of-type(14) { --section-background: #e35c52; }
main[data-view="settings"] section:nth-of-type(15) { --section-background: #52e3bc; }

main[data-view="settings"] section footer {
	background: var(--section-background);
}

main[data-view="settings"] section article {
	width: auto;
	margin: 0px;
	border: 0px solid transparent;
	box-sizing: border-box;
}

main[data-view="settings"] section h2 {
	display: block;
	margin: 0px;
	padding: 8px 16px;
	font-family: "cantarell";
	font-weight: bold;
	font-size: 20px;
	font-style: normal;
	color: var(--header-color);
	background: var(--section-background);
	border-bottom: 4px solid #2b2e39;
}

main[data-view="settings"] section button[data-action="remove-organization"] {
	display: block;
	position: absolute;
	top: 6px;
	right: 6px;
}


main[data-view="settings"] section article fieldset {
	position: relative;
}

main[data-view="settings"] section article fieldset:hover {
	background: rgba(255,255,255,0.1);
	transition: 250ms background-color ease-out;
}

main[data-view="settings"] section article fieldset button[data-action^="remove"] {
	position: absolute;
	top: -32px;
	right: 0px;
	opacity: 0;
	transition: 250ms opacity ease-out;
}

main[data-view="settings"] section article fieldset:hover button[data-action^="remove"] {
	opacity: 1;
	transition: 250ms opacity ease-out;
}

main[data-view="settings"] section article h3 {
	display: none;
}

main[data-view="settings"] section article:has(fieldset) h3 {
	display: block;
}

main[data-view="settings"] article fieldset div label[data-type]:before {
	margin: 0px 0.5em 0px 0px;
}

main[data-view="settings"] section button[data-action="add-identity"]:before     { content: '\e805'; vertical-align: middle; }
main[data-view="settings"] section button[data-action="add-remote"]:before       { content: '\e805'; vertical-align: middle; }

/* settings */
main[data-view="settings"] label[data-type="folder"]:before        { content: '\e80b'; }
main[data-view="settings"] label[data-type="folder"].active:before { content: '\e80c'; }
main[data-view="settings"] label[data-type="file"]:before          { content: '\f15b'; }
main[data-view="settings"] label[data-type="file"].active:before   { content: '\f15c'; }
main[data-view="settings"] label[data-type="port"]:before          { content: '\f0ec'; }

/* settings > identities */
main[data-view="settings"] label[data-type="user"]:before         { content: '\e801'; }
main[data-view="settings"] label[data-type="organization"]:before { content: '\f275'; }
main[data-view="settings"] label[data-type="key"]:before          { content: '\f132'; }
main[data-view="settings"] label[data-type="name"]:before         { content: '\e801'; }
main[data-view="settings"] label[data-type="email"]:before        { content: '\f0e0'; }

/* settings > remotes */
main[data-view="settings"] label[data-type="remote"]:before        { content: '\e81a'; }
main[data-view="settings"] label[data-type="remote-name"]:before   { content: '\e81a'; }
main[data-view="settings"] label[data-type="remote-type"]:before   { content: '\e816'; }

/* XXX: UNUSED */
main[data-view="settings"] label[data-type="proxy"]:before         { content: '\e816'; }

main[data-view="settings"] input[type="radio"][data-remote] {
	width: 2em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	vertical-align: middle;
}

main[data-view="settings"] input[type="radio"][data-remote="bitbucket"]:before,
main[data-view="settings"] input[type="radio"][data-remote="git"]:before,
main[data-view="settings"] input[type="radio"][data-remote="github"]:before,
main[data-view="settings"] input[type="radio"][data-remote="gitlab"]:before,
main[data-view="settings"] input[type="radio"][data-remote="gogs"]:before {
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: inherit;
	margin: 0px;
	padding: 0px;
	font-family: "icon";
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	font-smooth: antialiased;
	speak: never;
}

main[data-view="settings"] input[type="radio"][data-remote="bitbucket"]:before { content: '\f171'; }
main[data-view="settings"] input[type="radio"][data-remote="git"]:before       { content: '\f1d3'; }
/* main[data-view="settings"] input[type="radio"][data-remote="gitea"]:before     { content: '\f0c3'; } */
main[data-view="settings"] input[type="radio"][data-remote="github"]:before    { content: '\f113'; }
main[data-view="settings"] input[type="radio"][data-remote="gitlab"]:before    { content: '\f296'; }
main[data-view="settings"] input[type="radio"][data-remote="gogs"]:before      { content: '\f0c3'; }

main[data-view="settings"] input[type="radio"][data-remote="gitea"] {
	display: inline-block;
	content: " ";
	width: 2em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	line-height: inherit;
	margin: 0px;
	padding: 0px;
	background-image: url("../icons/gitea.svg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 80% 80%;
	speak: never;
}

main[data-view="settings"] article legend {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	border: 0px solid transparent;
	border-radius: unset;
}

main[data-view="settings"] article h3 {
	display: block;
	margin: 0px;
	padding: 8px 0px;
	font-family: "cantarell";
	font-weight: bold;
	font-size: 20px;
	font-style: normal;
	border-bottom: 1px solid #2b2e39;
}

main[data-view="settings"] section[data-type] h2:before,
main[data-view="settings"] article[data-type] h3:before,
main[data-view="settings"] article fieldset[data-type] legend:before {
	display: inline-block;
	width: 1em;
	line-height: inherit;
	margin: 0px 0.5em 0px 0px;
	padding: 0px;
	font-family: "icon";
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	font-smooth: antialiased;
	speak: never;
}

main[data-view="settings"] h2[data-type]:before {
	margin: 0px 1em 0px 0px;
}

main[data-view="settings"] section[data-type="organization"] h2:before { content: '\f275'; }

main[data-view="settings"] article[data-type="identities"] h3:before { content: '\e802'; }
main[data-view="settings"] article[data-type="remotes"] h3:before    { content: '\f1e0'; }
main[data-view="settings"] article[data-type="settings"] h3:before   { content: '\e80d'; }

main[data-view="settings"] article fieldset[data-type="identity"] legend:before { content: '\e801'; }
main[data-view="settings"] article fieldset[data-type="remote"] legend:before   { content: '\f1e0'; }

footer button[data-action="add-organization"]:before { content: '\e805'; vertical-align: middle; }

