
section[data-name="settings"] fieldset label[data-type="user"]:before          { content: '\e801'; }
section[data-name="settings"] fieldset label[data-type="organization"]:before  { content: '\f275'; }
section[data-name="settings"] fieldset label[data-type="key"]:before           { content: '\f132'; }
section[data-name="settings"] fieldset label[data-type="name"]:before          { content: '\e801'; }
section[data-name="settings"] fieldset label[data-type="email"]:before         { content: '\f0e0'; }
section[data-name="settings"] fieldset label[data-type="remote"]:before        { content: '\e81a'; }
section[data-name="settings"] fieldset label[data-type="remote-name"]:before   { content: '\e81a'; }
section[data-name="settings"] fieldset label[data-type="remote-type"]:before   { content: '\e816'; }
section[data-name="settings"] fieldset label[data-type="remote-origin"]:before { content: '\e808'; }
