
@import url("./fonts/index.css");
@import url("./arc-dark/palette.css");
@import url("./arc-dark/header.css");
@import url("./arc-dark/main.css");
@import url("./arc-dark/main-table.css");
@import url("./arc-dark/footer.css");
@import url("./arc-dark/dialog.css");
@import url("./arc-dark/button.css");
@import url("./arc-dark/label.css");
@import url("./arc-dark/input.css");

body {
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	background: #383c4a;
}

