
button {
	display: inline-block;
	margin: 0px;
	padding: 4px 8px;
	color: var(--button-default-color);
	background: var(--button-default-background);
	border: 1px solid #252932;
	border-radius: 4px;
	cursor: pointer;
	transition: 250ms all ease-out;
}

button:hover,
button:focus {
	color: var(--button-focus-color);
	background: var(--button-focus-background);
	transition: 250ms all ease-out;
}

button.primary {
	color: var(--palette-primary-color);
	background: var(--palette-primary-background);
	cursor: pointer;
}

button.secondary {
	color: var(--palette-secondary-color);
	background: var(--palette-secondary-background);
	/* TODO: Red shade for deny action */
	cursor: no-drop;
}

button[data-action="commit"],
button[data-action="fix"] {
	color: var(--palette-secondary-color);
	background: var(--palette-secondary-background);
	cursor: pointer;
}

button[data-action="backup"],
button[data-action="restore"] {
	color: var(--palette-primary-color);
	background: var(--palette-primary-background);
	cursor: pointer;
}


button[disabled],
button[disabled]:hover,
button[disabled]:focus,
button[data-action][disabled],
button[data-action][disabled]:hover,
button[data-action][disabled]:focus,
button.primary[disabled],
button.primary[disabled]:hover,
button.primary[disabled]:focus,
button.secondary[disabled],
button.secondary[disabled]:hover,
button.secondary[disabled]:focus {
	color: var(--button-disabled-color);
	background: var(--button-disabled-background);
	cursor: not-allowed;
}

