
footer {
	display: block;
	position: absolute;
	top: auto;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: 0px;
	padding: 16px;
	color: #ffffff;
	background: #2f343f;
	z-index: 20;
}

footer div {
	float: right;
}

