
body {

	--menu-default-color: #b2bdca;
	--menu-default-background: #414857;

	--menu-active-color: #ffffff;
	--menu-active-background: #5294e2;

	--menu-focus-color: #ffffff;
	--menu-focus-background: #535a69;

	--button-default-color: #ffffff;
	--button-default-background: #444a58;

	--button-focus-color: #ffffff;
	--button-focus-background: #535a69;

	--button-disabled-color: #888888;
	--button-disabled-background: #3f4452;

	--input-default-color: #ffffff;
	--input-default-background: #444a58;

	--input-focus-color: #ffffff;
	--input-focus-background: #535a69;

	--input-active-background: #5294e2;

	--input-disabled-color: #888888;
	--input-disabled-background: #3f4452;

	--palette-primary-color: #ffffff;
	--palette-primary-background: #5294e2;

	--palette-secondary-color: #ffffff;
	--palette-secondary-background: #e25252;

}

