
dialog article {
	width: 532px;
	max-height: calc(80vh - 40px - 50px);
}

dialog label[data-state]:before,
dialog label[data-type]:before {
	display: inline-block;
	width: 1em;
	line-height: inherit;
	margin: 0px 0.5em 0px 0px;
	padding: 0px 0.25em;
	font-family: "icon";
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	font-smooth: antialiased;
	speak: never;
}

dialog label[data-state]:empty:before,
dialog label[data-type]:empty:before {
	margin: 0px;
}

/* states */
dialog label[data-state="bug"]:before     { content: '\f188'; }
dialog label[data-state="failure"]:before { content: '\e804'; }
dialog label[data-state="success"]:before { content: '\e803'; }
dialog label[data-state="waiting"]:before { content: '\f254'; }


/* views > repositories */
dialog article table {
	width: calc(100% - 32px);
}

dialog label[data-state="waiting"]:before {
	animation: hourglass infinite 3s linear;
}

dialog label[data-state="working"]:before {
	content: '\f254';
	animation: rotation infinite 3s linear;
}

@keyframes hourglass {
	0%   { content: '\f250'; }
	25%  { content: '\f251'; }
	50%  { content: '\f252'; }
	75%  { content: '\f253'; }
	100% { content: '\f250'; }
}

@keyframes rotation {
	0%   { transform: rotate(  0deg); }
	50%  { transform: rotate(180deg); }
	100% { transform: rotate(360deg); }
}


/* views > settings */

dialog input[type="checkbox"][data-remote] {
	width: 2em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	vertical-align: middle;
}

dialog input[type="checkbox"][data-remote="bitbucket"]:before,
dialog input[type="checkbox"][data-remote="git"]:before,
dialog input[type="checkbox"][data-remote="github"]:before,
dialog input[type="checkbox"][data-remote="gitlab"]:before,
dialog input[type="checkbox"][data-remote="gogs"]:before {
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: inherit;
	margin: 0px;
	padding: 0px;
	font-family: "icon";
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	font-smooth: antialiased;
	speak: never;
}

dialog input[type="checkbox"][data-remote="bitbucket"]:before { content: '\f171'; }
dialog input[type="checkbox"][data-remote="git"]:before       { content: '\f1d3'; }
/* dialog input[type="radio"][data-remote="gitea"]:before     { content: '\f0c3'; } */
dialog input[type="checkbox"][data-remote="github"]:before    { content: '\f113'; }
dialog input[type="checkbox"][data-remote="gitlab"]:before    { content: '\f296'; }
dialog input[type="checkbox"][data-remote="gogs"]:before      { content: '\f0c3'; }

dialog input[type="checkbox"][data-remote="gitea"] {
	display: inline-block;
	content: " ";
	width: 2em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	line-height: inherit;
	margin: 0px;
	padding: 0px;
	background-image: url("./icons/gitea.svg");
	background-position: 50% 60%;
	background-repeat: no-repeat;
	background-size: 70% 70%;
	speak: never;
}

