
@import url("./views/repositories.css");
@import url("./views/backups.css");
@import url("./views/settings.css");
@import url("./header.css");
@import url("./dialog.css");

body {
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	background: #383c4a;
}

